<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="http://localhost:4242/create/new/product">
        <ul>
            <li>
                <label for="titre">titre</label><br>
                <input type="text" name="titre" id="titre">
            </li>
            <li>
                <label for="prix">prix</label><br>
                <input type="text" name="prix" id="prix">
            </li>
            <li>
                <label for="description">description</label><br>
                <input type="text" name="description" id="description">
            </li>
        </ul>
        
        
        

        <input type="submit" value="Creer un nouveau produit">
    </form>
</body>
</html>